<footer class="ftr">
<div class="container">
    <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 col-xs-12">
        <img src="images/logo.png" alt="" class="ftr-logo">
        <p class="ftr-about-text">
          Smartsport.com - the first global booking platform for sport
          facilities and sport teams in swimming, water polo, weightlifting, gymnastics, martial arts, tennis,
          football and other team sports training camps.
        </p>
      </div>
      <div class="col-lg-2 col-sm-12 col-xs-12">
        <h3 class="ftr-title">menu</h3>
        <ul class="ftr-nav-menu">
          <li class="ftr-nav-tab">
            <a href="">Sport Complexes</a>
          </li>
          <li class="ftr-nav-tab">
            <a href="">Hotels</a>
          </li>
          <li class="ftr-nav-tab">
            <a href="">News</a>
          </li>
          <li class="ftr-nav-tab">
            <a href="">Events</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-12 col-xs-12">
        <h3 class="ftr-title">Contact info</h3>
        <ul class="ftr-contact-info">
          <li class="ftr-contact-email">
              <a href="mailto:sales@smartsport.com">
                sales@smartsport.com
              </a>
          </li>
          <li class="ftr-contact-phone">
              <a href="tel:+4915735995225">+49 157 359 952 25</a>
          </li>
          <li class="ftr-contact-phone">
              <a href="tel:+74994042608">+7 499 404 26 08</a>
          </li>
          <li class="ftr-contact-phone">
              +38 095 721 26 18 Viber, WhatsApp, Telegram
          </li>
          <li class="ftr-contact-skype">
              <a href="skype:smartsport.com">smartsport.com</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-12 col-xs-12">
        <h3 class="ftr-title">Social</h3>
        <a href="" class="ftr-soc-media smedia-vk"></a>
        <a href="" class="ftr-soc-media smedia-facebook"></a>
        <a href="" class="ftr-soc-media smedia-linkedin"></a>
        <a href="" class="ftr-soc-media smedia-youtube"></a>
        <a href="" class="ftr-soc-media smedia-twitter"></a>
      </div>
    </div>
  </div>
  <div class="ftr-engine">
        <span>v-jetEngine</span>
  </div>
</div>
</footer>