<span>
    <h2 class="season-title v-large">Сезон 1, Ванна 1</h2>
    <div class="row v-large">
      <div class="col-lg-2 col-sm-4 hidden-xs v-large">
        <span class="season-subtitle v-large">Укажите цены для:</span>
      </div>
      <div class="col-lg-8 col-sm-8 col-xs-12 v-large">
        <div class="btn-group">
          <span class="btn btn-bordered-primary btn-lg caregory">Категория 1</span >
          <span class="btn btn-bordered-primary btn-lg caregory">Категория 2</span >
          <span class="btn btn-bordered-primary btn-lg caregory">Категория 3</span >
        </div>
      </div>
    </div>
<div class="row v-huge">
      <div class="col-lg-2 col-sm-2 col-xs-8">
        <p class="v-large">Атлет / сессия</p>
      </div>
      <div class="col-lg-10 col-sm-10 col-xs-12">
        <div class="col-lg-2 col-sm-3 col-xs-4">
          <input class="form-control" type="number" name="end-time-shedule-1" placeholder="0000,00">
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
          <input class="form-control" type="number" name="end-time-shedule-1" placeholder="0000,00">
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
          <input class="form-control" type="number" name="end-time-shedule-1" placeholder="0000,00">
        </div>
        <div class="col-lg-1 col-sm-1 hidden-xs">
          <p class="v-large">грн</p>
        </div>
      </div>
    </div>
    <div class="row v-huge">
      <div class="col-lg-2 col-sm-2 col-xs-8">
        <p class="v-large">Дорожка / сессия</p>
      </div>
      <div class="col-lg-10 col-sm-10 col-xs-12">
        <div class="col-lg-2 col-sm-3 col-xs-4">
          <input class="form-control" type="number" name="end-time-shedule-1" placeholder="0000,00">
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
          <input class="form-control" type="number" name="end-time-shedule-1" placeholder="0000,00">
        </div>
        <div class="col-lg-2 col-sm-3 col-xs-4">
          <input class="form-control" type="number" name="end-time-shedule-1" placeholder="0000,00">
        </div>
        <div class="col-lg-1 col-sm-1 hidden-xs">
          <p class="v-large">грн</p>
        </div>
      </div>
    </div>
    </span>