<span>
    <h2 class="season-title v-large">Различается ли у Вас цена для разных ванн?</h2>
    <div class="row">
      <div class="col-lg-5 col-sm-12 col-xs-12">
<!-- start button toggle block -->
        <div class="btn-switcher btn-switch-primary btn-switch-large">
          <input id="btn-toggle-different-bath-price-1" class="btn-toggle-input" type="radio" name="different-bath-price" value="1" checked>
          <label for="btn-toggle-different-bath-price-1" class="btn-toggle-label">
            Да
          </label>
          <input id="btn-toggle-different-bath-price-2" class="btn-toggle-input" type="radio" name="different-bath-price" value="1">
          <label for="btn-toggle-different-bath-price-2" class="btn-toggle-label">
            Нет
          </label>
        </div>
<!-- end button toggle block -->
      </div>
    </div>
<div class="row">
      <div class="col-lg-4 col-sm-6 col-xs-6">
        <span class="season-subtitle v-large">Выберите длину сессии</span>
      </div>
      <div class="col-lg-4 col-sm-6 col-xs-6">
        <select class="form-control" name="session_time">
          <option value="30">30</option>
          <option value="45">45</option>
          <option value="60">60</option>
          <option value="90">90</option>
        </select>
        <i class="caret-down"></i>
        <strong>мин</strong>
      </div>
    </div>
    </span>