<span>
  <div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <span class="season-subtitle text-primary">
        Шаг 3: условия и цены
      </span>
      <h2 class="season-title">
        Условия и цены
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-sm-8 col-xs-12">
      <div class="row">
        <div class="col-lg-4 col-sm-12 col-xs-12" ng-repeat="item in svg.progress track by $index">
          <span ng-include="svg.file[1]"></span>
        </div>
      </div>
      </div>
  </div>
</span>